<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mud.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mud.Properties.Settings>
            <setting name="COMBAT_ROUTINE_PAUSED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="COMBAT_ROUTINE_PULL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="COMBAT_ROUTINE_HEAL_OUT_OF_COMBAT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="COMBAT_ROUTINE_PRECOMBATBUFF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="COMBAT_ROUTINE_HEAL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="COMBAT_ROUTINE_COMBATBUFF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="COMBAT_ROUTINE_COMBAT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MOBS_TO_TARGET" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Enter Mob Names Here...</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SELECTED_TARGETING_MODE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HOTKEY_MODIFIER_PAUSE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HOTKEY_PAUSE" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="HOTKEY_TARGET_MODE" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="HOTKEY_MODIFIER_TARGET_MODE" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SELECTED_TARGET_LIST_TYPE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="COMBAT_ROUTINE_EXECUTE_WHILE_MOVING" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MAX_TARGET_DISTANCE" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AUTO_FACE_TARGET" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AUTO_MOVE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AUTO_MOVE_FOLLOW_RANGE_MIN" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="SELECTED_MOVEMENT_MODE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AUTO_SPRINT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UI_FLASH_MESSAGES" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UI_ACTIVATE_FFXIV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UI_ALWAYS_ON_TOP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HOTKEY_TOGGLE_MOVEMENT" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="HOTKEY_ADD_REM_TARGET_LIST" serializeAs="String">
                <value>Insert</value>
            </setting>
            <setting name="HOTKEY_MODIFIER_TOGGLE_MOVEMENT" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HOTKEY_MODIFIER_ADD_TARGET_LIST" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HOTKEY_MODIFIER_REM_TARGET_LIST" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AUTO_MOVE_FOLLOW_RANGE_MAX" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="AUTO_TALK_NPCS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SELECTED_NAVIGATION_PROVIDER" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AUTO_ACCEPT_QUESTS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="COMBAT_ROUTINE_REST" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="COMBAT_ROUTINE_PULL_BUFF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AUTO_MOVE_TARGET_RANGE" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="HOTKEY_MODIFIER_MOVEMENT_MODE" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HOTKEY_MOVEMENT_MODE" serializeAs="String">
                <value>F</value>
            </setting>
        </Mud.Properties.Settings>
    </userSettings>
</configuration>