<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MudBase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="mud.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MudBase.Properties.Settings>
            <setting name="IS_PAUSED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ATTACK_OUT_OF_COMBAT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HEAL_OUT_OF_COMBAT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="COMBAT_ROUTINE_PRECOMBATBUFF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="COMBAT_ROUTINE_HEAL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="COMBAT_ROUTINE_COMBATBUFF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="COMBAT_ROUTINE_COMBAT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TARGET_MOB_LIST" serializeAs="String">
                <value />
            </setting>
            <setting name="SELECTED_TARGETING_MODE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HOTKEY_PAUSE_MODIFIER" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HOTKEY_PAUSE" serializeAs="String">
                <value />
            </setting>
            <setting name="HOTKEY_TARGET_MODE" serializeAs="String">
                <value />
            </setting>
            <setting name="HOTKEY_TARGET_MODE_MODIFIER" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SELECTED_TARGET_LIST_TYPE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EXECUTE_WHILE_MOVING" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TARGETING_DISTANCE" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TARGET_OUT_OF_LOS" serializeAs="String">
                <value>False</value>
            </setting>
        </MudBase.Properties.Settings>
        <mud.Properties.Settings>
            <setting name="IS_PAUSED" serializeAs="String">
                <value>False</value>
            </setting>
        </mud.Properties.Settings>
    </userSettings>
</configuration>